*{
    padding: 0;
    margin: 0;
}

/*estilos de index.html*/

/*barra de navegacion*/



nav img{
    width: 8%;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

/*seccion de incio*/

.inicio{
    background-color: aqua;
    color: black;
}

/*seccion productos*/


/*estilos de autos.html*/

/*secction renault*/

.renault{
    width: 100%;
}

.renault div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.renault article{
    border: 2px solid black;
    width: 25%;
    margin: 15px 0px;
}

.renault div article img{
    width: 100%;
}

/*secction fiat*/

.fiat{
    width: 100%;
}

.fiat div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.fiat article{
    border: 2px solid black;
    width: 25%;
    margin: 15px 0px;
}

.fiat div article img{
    width: 100%;
}

/*secction volkswagen*/

.volskwagen{
    width: 100%;
}

.volskwagen div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.volskwagen article{
    border: 2px solid black;
    width: 25%;
    margin: 15px 0px;
}

.volskwagen div article img{
    width: 100%;
}


/*estilos de toxi shine.html*/

.productos{
    background-color: black;
}

.productos section div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}




/*footer*/
footer{
    background-color: black;
    color: white;
    width: 100%;
}

footer img{
    width: 2%;
}

