*{
    padding: 0;
    margin: 0;

}

/*estilos de index.html*/

/*barra de navegacion*/

main{
    background-color: #1d2d44;
}

nav img{
    width: 8%;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

/*seccion de incio*/

.inicio{
    color: black;
}

/*seccion productos*/


/*estilos de autos.html*/

/*secction renault*/

.autos-card{
    width: 100%;
}

.autos-card div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.autos-card article{
    border: 2px solid black;
    width: 25%;
    margin: 15px 0px;
}

.autos-card div article img{
    width: 100%;
}


/*estilos de toxi shine.html*/


.productos section div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}




/*footer*/
footer{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer p{
    padding-top: 10px;
}

footer img{
    width: 2%;
}

