* {
  padding: 0;
  margin: 0;
}

main {
  background-color: #1d2d44;
}

nav {
  background-color: #252422;
}
nav div img {
  width: 8%;
}
nav div ul {
  list-style-type: none;
}
nav div ul li a {
  text-decoration: none;
  color: white;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  color: black;
}
.inicio h1 {
  color: white;
  font-size: Verdana, Geneva, Tahoma, sans-serif;
}
.inicio p {
  color: white;
  font-size: 20px;
}
.inicio div .carrucel-index {
  height: 80vh;
  object-fit: cover;
}

.baners {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.baners .card {
  flex: 0 0 calc(30% + 50px);
}

.prod h2 {
  background-color: #b4b8ab;
  text-align: center;
  color: black;
  padding: 5px 0px;
  font-family: monospace;
  margin: 0px 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.autos-card {
  width: 100%;
}
.autos-card h3 {
  background-color: #b4b8ab;
  text-align: center;
  color: black;
  padding: 5px 0px;
  font-family: monospace;
  margin: 0px 80px;
  border-radius: 10px;
}
.autos-card div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.autos-card article {
  background-color: #d9d9d9;
  border: 2px solid black;
  width: 25%;
  margin: 15px 0px;
}
.autos-card article ul li {
  background-color: #d9d9d9;
}

.productos section h3 {
  background-color: #b4b8ab;
  text-align: center;
  color: black;
  padding: 5px 0px;
  font-family: monospace;
  margin: 0px 80px;
  border-radius: 10px;
}
.productos section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0px;
}
.productos section div article {
  background-color: #cfdbd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.productos section div article a {
  background-color: black;
}
.productos section div article p {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.formulario h2 {
  text-align: center;
}

form {
  border: 2px white solid;
  margin: 50px 0px;
  width: 30%;
  height: 65vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
form label {
  margin: 10px 0px;
}
form input {
  width: 100%;
  margin: 5px 0px;
}
form button {
  width: 100%;
  margin-top: 20px;
}

footer {
  background-color: #252422;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer p {
  padding-top: 10px;
}
footer a {
  width: 2%;
}
footer a img {
  width: 100%;
}

.contenido {
  color: white;
  padding: 0px 30px;
  padding-bottom: 30px;
}
.contenido h1 {
  padding: 10px 0px;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contenido h2 {
  padding: 10px 0px;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contenido p {
  font-size: 17px;
  font-family: sans-serif;
}
.contenido ul li {
  padding: 5px 0px;
  font-size: 17px;
}

@media (max-width: 500px) {
  nav img {
    width: 15%;
  }
  .inicio p {
    font-size: 15px;
    text-align: center;
  }
  .inicio div .carrucel-index {
    height: 20vh;
  }
  .baners {
    flex-direction: column;
    align-items: center;
  }
  .baners div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer a {
    width: 5%;
  }
  footer p {
    font-size: 20px;
  }
  .formulario {
    height: 100vh;
    padding-bottom: 5px;
  }
  .formulario form {
    width: 80%;
    height: 50vh;
  }
  .prod section div {
    flex-direction: column;
  }
  .productos section div article {
    margin: 10px 0px;
  }
}
.prod section div article {
  transition: transform 0.3s ease;
}
.prod section div article :hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=estilos.css.map */
