@use "base/reser";

@use "components/nav";

@use "layout/inicio";

@use "layout/autos";

@use "layout/toxishein";

@use "components/registrarse";

@use "layout/footer";

@use "layout/quienessomos";

@use "components/responsive";

@use "components/animaciones";