.autos-card{
    width: 100%;

    div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    article{
        border: 2px solid black;
        width: 25%;
        margin: 15px 0px;
    }
}