.autos-card{
    width: 100%;

    div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    article{
        background-color: #d9d9d9;
        border: 2px solid black;
        width: 25%;
        margin: 15px 0px;
        ul{
            li{
                background-color: #d9d9d9;
            }
        }
    }
}