
.prod{
    h2{
        background-color: #b4b8ab;
        text-align: center;
        color: black;
        padding: 5px 0px;
        font-family: monospace;
        margin: 0px 50px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}

.autos-card{
    width: 100%;
    h3{
        background-color: #b4b8ab;
        text-align: center;
        color: black;
        padding: 5px 0px;
        font-family: monospace;
        margin:  0px 80px;
        border-radius: 10px;
    }

    div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    article{
        background-color: #d9d9d9;
        border: 2px solid black;
        width: 25%;
        margin: 15px 0px;
        ul{
            li{
                background-color: #d9d9d9;
            }
        }
    }
}