footer{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    p{
        padding-top: 10px;
    }

    img{
        width: 2%;
    }
}

