.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    color: black;

    h1{
        color: white;
        font-size: Verdana, Geneva, Tahoma, sans-serif;
    }

    p{
        color:white;
        font-size: 20px;
    }
}

.baners{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    div{
        article{
            margin: 40px 0px;
        }
    }
}

.carrucel-index{
    height: 90vh;
    object-fit: cover;
}