.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    color: black;

    h1{
        color: white;
        font-size: Verdana, Geneva, Tahoma, sans-serif;
    }

    p{
        color:white;
        font-size: 20px;
    }

    div{
        .carrucel-index{
            height: 80vh;
            object-fit: cover;
        }
    }
}

.baners{
    
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    .card{
       flex: 0 0 calc(30% + 50px);
    }
   
}

