.contenido{
    color: white;
    padding: 0px 30px;
    padding-bottom: 30px;

    h1{
        padding: 10px 0px;
        font-family: "Special Gothic Condensed One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2{
        padding: 10px 0px;
        font-family: "Special Gothic Condensed One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    p{
        font-size: 17px;
        font-family:sans-serif;
    }

    ul{
        li{
            padding: 5px 0px;
            font-size: 17px;
        }
    }
}

