.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h2{
        text-align: center;
    }
}

form{
    border: 2px white solid;
    margin: 50px 0px;
    width: 30%;
    height: 65vh;
    padding: 15px;

    input{
        width: 100%;
        margin: 5px 0px;
    }

    button{
        width: 100%;
    }
}