.productos{
    section{
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 30px 0px;

            article{
                background-color: #cfdbd5;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                a{
                    background-color: black;
                }
            }
           
        }
    }
}

