.productos{
    section{
        h3{
        background-color: #b4b8ab;
        text-align: center;
        color: black;
        padding: 5px 0px;
        font-family: monospace;
        margin:  0px 80px;
        border-radius: 10px;
    }
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 30px 0px;

            article{
                background-color: #cfdbd5;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                a{
                    background-color: black;
                }

                p{
                    text-align: center;
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
           
        }
    }
}

