.prod{
    section{
        div{
            article{
                transition: transform 0.3s ease;
                :hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}

