nav{
    background-color: #252422;

    div{
        
        img{
            width: 8%;
        }

        ul{
            list-style-type: none;
            li{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }

    }
}