@media (max-width: 500px){

    nav{
        img{
            width: 15%;
        }
    }

    .inicio{
        p{
            font-size: 15px;
            text-align: center;
        }
    }

    .carrucel-index{
        height: 40vh;
    }

    .baners{
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    footer{
        img{
            width: 5%;
        }
    }

    .formulario{
        height: 100vh;
        padding-bottom: 5px;

        form{
            width: 80%;
            height: 50vh;
        }
    }

    .prod{
        section{
            div{
                flex-direction: column;
            }
        }
    }

    .productos{
        section{
            div{
                article{
                    margin: 10px 0px;
                }
            }
        }
    }
}